body{
 color: red;  
}

.field{
    font-size: 50px;
    text-align: right;
    flex: 1;
    border-style: solid;
}
.calc{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
  gap: 5px;
 
}
.row{
    gap:5px;
    display: flex;
    justify-content: space-evenly;
    flex : 1 0;
}
button{
   border-radius: 2%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 80%;
}
h1{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}