body{
    height: 900px;
    color: black;
    display: flex;
    flex: 1;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    
}



.field{
    display: flex;
    
    word-wrap: break-word;
    word-break: break-all;
    display: flex;
    justify-content: right;
    font-size: 50px;
    text-align: right;
    flex: 1 1;
    border-style: solid;
    
    
}
.calc{
    width: 600px;
    height: 600px; 
    display: flex;
    flex-direction: column;
    gap: 5px;
 
}
.row{
    gap: 10px;
    display: flex;
    flex : 1 0;
}
button{
    background-color: rgba(14, 8, 8, 0.911);
    border-radius: 5%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: aliceblue;
}
h1{
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hover{
    background-color: black;
}
.left{
    display: flex;
    gap: 10px;
    flex: 1 0 25%;
    justify-content: space-evenly;

}
.right{
    display: flex;
    flex: 1 1 0%;
    gap: 10px;
    justify-content: space-evenly;
}