
.calc{
    
    
    width :500px;
    height: 100px;
}
.box{
    display: flex;
    flex: 1;
    border-color: red;
    border-style: dotted;
    border-radius: 20px;
}
h1{
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}